* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    overflow-x: hidden;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.content {
    max-width: 800px;
    text-align: center;
    z-index: 2;
}
h1, h2 {
    margin-bottom: 1rem;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    margin-bottom: 0.5rem;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00a8ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0097e6;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2rem;
}
.nav a.active {
    font-weight: bold;
}

.profile-photo {
    display: block;
    margin: 0 auto 20px auto; /* Centre l'image horizontalement et ajoute un espace en dessous */
    border-radius: 50%; /* Rend l'image ronde, si elle est carrée */
    width: 150px; /* Taille de l'image, ajustable selon vos préférences */
    height: 150px; /* Assurez-vous que l'image soit carrée */
    object-fit: cover; /* S'assure que l'image s'ajuste bien dans l'espace défini */
    border: 3px solid #ffffff; /* Ajoute une bordure blanche autour de l'image */
}
